language: go
go:
  - 1.13.x
  - 1.14.x
  - master

services:
  - redis-server
  - postgresql

dist: trusty

addons:
  postgresql: "9.6"
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
      - gcc-4.8
      - clang
      - postgresql-9.6-postgis-2.3

before_install:
  - "psql -c 'create database golang_gin_db;' -U postgres"
  - "psql golang_gin_db -c 'create extension postgis;' -U postgres"
  - "psql -U postgres < ./db/database.sql"
  - sleep 3

install:
  - mv .env_rename_me .env
  - mkdir cert/ && sh generate-certificate.sh

script:
  - go test -v ./tests/*
